</main>

<!-- Footer personale -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Realizzato da Nicholas Ternullo</p>
        <p class="text-center">Matricola: 20045859</p>
        <p class="text-center">Email: ternullo.nicholas@gmail.com</p>
      </div>
    </div>
  </div>
</footer>


</body>

</html>