<%-include('headerIndex')-%>


  <!-------------------------------------------------------------------------->

  <div class="menu-image">
    <img src="/images/pizzaiolo.jpg" alt="Menu Pic" width="100%">
  </div>

  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="content-box">
            <p>Scopri le migliori pizzerie nella tua zona, visualizza i menu e prenota il tuo tavolo!</p>
            <hr>
            <a href="/restaurants" class="legenda">
              <h3>Pizzerie</h3>
              <p>Scopri le pizzerie e trova quella più vicina a te. Ogni pizzeria ha il suo stile unico e le sue
                specialità.</p>
            </a>
            <h3>Prenota il tuo tavolo</h3>
            <p>Se sei un utente registrato, puoi prenotare il tuo tavolo online e garantirti il posto per la tua cena.
            </p>
            <p>Non sei registrato? <a href="#" data-toggle="modal" data-target="#modalRegisterForm">Clicca qui e registrati
              subito</a></p>
            <hr>
            <h3>Sei una pizzeria?</h3>
            <p>Hai una pizzeria e vuoi farlo sapere a tutti? Entra a far parte della community più gustosa di sempre.
            </p>
            <a href="/register-pizzeria">Inoltra la tua richiesta</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="image-box">
            <img src="images/pizza3.png" alt="PizzaPic" id="pizza3">
          </div>
        </div>
      </div>
    </div>
  </section>


  <%-include('footer')-%>